<style>
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Adjust the listing content container as needed */
.listing-container {
    flex-grow: 1;
}

footer {
    width: 100%;
    box-sizing: border-box;
}


</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <br>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; VentureVista Private Limited</div>
        <div class="f-info-links">
            <a style="pointer-events: none;" href="/privacy">privacy</a>
            <a style="pointer-events: none;" href="/terms">Terms</a>
        </div>
    </div>
</footer>