<%layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a new listing</h3>
    <form method="POST" action="/listings/upload" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title"class="form-label">Title</lable>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
            <div class="invalid-feedback">Please fill the required filled</div>
        </div>

        <div class="mb-3">
            <lable for="description"class="form-label">Description</lable>
            <textarea name="listing[description]" placeholder="enter description" type="text" class="form-control" required></textarea>
            <div class="invalid-feedback">Please fill the required filled</div>
        </div>

        <div class="mb-3">
            <lable for="image" class="form-label">Upload Listing Image</lable>
            <input type="file" name="listing[image]" class="form-control" multiple>
            <!-- <input name="listing[image]" type="file" class="form-control" > -->
        </div>
        

        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price"class="form-label">Price</lable>
            <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
            <div class="invalid-feedback">Please fill the required filled</div>

            </div>
            <div class="mb-3 col-md-8">
                <lable for="location"class="form-label">Location</lable>
                <input name="listing[location]" placeholder="Jaipur,Rajasthan" type="text" class="form-control" required>
                <div class="invalid-feedback">Please fill the required filled</div>
    
            </div>
    
            <div class="mb-3 md-8 ">
                <lable for="contact"class="form-label">Phone Number</lable>
                <input name="listing[contact]" pattern="[0-9]{10}" placeholder="Enter phone number (e.g., +1234567890)" type="number" class="form-control" required>
                <div class="invalid-feedback" id="phoneErrorMessage">Please enter a valid 10-digit phone number</div>
            </div>
            
        </div>
        
        <div class="mb-3 ">
            <lable for="country"class="form-label">Address</lable>
            <input name="listing[address]" placeholder="# 54-B Vasant Vihar, New Delhi" type="text" class="form-control" required>
        <div class="invalid-feedback">Please fill the required filled</div>
        </div>

        <div class="mb-3">
            <lable for="category"class="form-label">Category</lable><br>
            <!-- <input type="hidden" name="" id="selectedCategory"> -->
            <select name="listing[category]" class="form-control">
            <option title="Mountain Majesty">1 BHK</option>
            <option title="Farms">2 BHK</option>
            <option title="Riverside Retreat">3 BHK</option>

          <div class="invalid-feedback">Please fill the required filled</div>
          </select>
          
        </div>
        

        <!-- <div class="dropdown">
            <lable for="category"class="form-label">Category</lable><br>
            <div class="invalid-feedback">Please fill the required filled</div>
        <input type="hidden" name="listing[category]" id="selectedCategory">

            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Select a category
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item"  value="" >Mountain Majesty</a></li>
                <li><a class="dropdown-item"  value="             >Farms</a></li>
                <li><a class="dropdown-item"  value="" >Riverside Retreat</a></li>
                <li><a class="dropdown-item"  value="" >Historic Elegance</a></li>
                <li><a class="dropdown-item"  value=""     >Forest Lodges</a></li>
                <li><a class="dropdown-item"  value=""      >Desert Oasis</a></li>
            </ul>
        </div> -->
        <br>
        <button class="btn btn-dark add-btn">Add</button>
        
        <br><br>
    </form>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
       $(document).ready(function () {
    $('.dropdown-item').click(function () {
        var selectedCategory = $(this).data('value');
        $('#selectedCategory').val(selectedCategory);
        $('#dropdownMenuButton1').text(selectedCategory);
    });
});

    document.getElementById('contact').addEventListener('input', function(event) {
        if (event.target.validity.patternMismatch) {
            document.getElementById('phoneErrorMessage').style.display = 'block';
        } else {
            document.getElementById('phoneErrorMessage').style.display = 'none';
        }
    });

    </script>
</body>
